
.description-container {
  p{
    margin: 0;
  }

  p+p{
    margin-top: 16px;
  }

  .description-text {
    font-weight: 400;
    font-family: Inter, Helvetica, Arial, sans-serif;
  }

  a {
    color: #6E9FFF;
    text-decoration: underline;
  }
  a::hover {
    text-decoration: none;
  }
}

.config-section {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    margin: 0,
  }

  .subtitle {
    margin: 0;
    font-weight: 400
  }
}



